<div class="container">
  <div class="cats-search">
    <div class="cats-search__inner">
      <app-btn
        [textBtn]="'Знайти 10 кошенят'"
        (click)="searchCats()"
      ></app-btn>

      <app-select *ngIf="cats"
                  [arrValue]="arrSort"
                  [label]="'Відобразити по:'"
                  (sortByTen)="sortByTen()"
                  (sortByFive)="sortByFive()"
                  (sortByTwo)="sortByTwo()"
      ></app-select>
    </div>
    <div class="cats-search__wrapper">
      <ng-container *ngFor="let cat of sortArrCats">
        <img class="cats-search__img" [src]="cat.url" alt="cats">
      </ng-container>
    </div>
  </div>

  <div class="breed">
    <app-select
      [label]="'Знайти за породою:'"
      [arrValue]="arrSortBreeds"
      (searchByBreeds)="searchByBreeds($event)"
    ></app-select>

    <ng-container *ngIf="viewOneBreeds">
      <img class="breed__img" [src]="viewOneBreeds[0].image ? viewOneBreeds[0].image.url : ''" [alt]="viewOneBreeds[0].name + ' image'">
      <h2 class="breed__title">{{ viewOneBreeds[0].name }}</h2>
      <p class="breed__txt">{{ viewOneBreeds[0].description }}</p>
      <p class="breed__txt">Особливостi: {{ viewOneBreeds[0].temperament }}</p>
    </ng-container>
  </div>

  <div class="breeds">
    <app-btn
      *ngIf="!allBreedsView"
      [textBtn]="'Показати всi породи'"
      [colorBtn]="'primary'"
      (click)="searchAllBreeds()"
    ></app-btn>

    <div class="breeds__wrapper">
      <div class="breeds__inner" *ngFor="let breed of allBreedsView">
        <img class="breeds__img" [src]="breed.image ? breed.image.url : ''" [alt]="breed.name + ' image'">
        <p class="breeds__txt">{{ breed.name }}</p>
      </div>
    </div>
  </div>
</div>
